.parent {
    margin: 50px auto;
    height: 500px;
    border: 1px solid red;


}

.child {
    text-align: center;
    height: 50px;
    border: 1px solid blue;
}





/*

Необходимо сделать так, чтобы левая и правая 
часть макеты, была фиксированного размера и имела 
200px а центральная часть изменялась в ширине 
при сжатии или растягивании браузера.

Инструменты flex-grow, flex-shrink, flex-basis, flex, flex-direction.

*/





