.parent {
    width: 1000px;
    margin: 50px auto;
    height: 500px;
    border: 1px solid red;
    display: flex;

}

.child {
    width: 100px;
    text-align: center;
    height: 100px;
    border: 1px solid blue;
}




/*

С помощью flex-grow рассчитывай так, чтобы 4-й child-элемент был 
шириной в 250px



